<header class="header-6">
    <div class="branding">
    </div>
    <div class="header-nav">
        <a class="active nav-link nav-text" [ngClass]="{'active': pageIndex === 0}" (click)="setPage(0)">Kalendorius</a>
        <a class="nav-link nav-text" [ngClass]="{'active': pageIndex === 1}" (click)="setPage(1)">Nustatymai</a>
    </div>
</header>
<div class="clr-row main">
  <div class="clr-col-md-3">
    <app-side-nav-persons [showYears]="pageIndex === 1"></app-side-nav-persons>
  </div>
  <div class="clr-col">
    <app-month-view [hidden]="pageIndex !== 0"></app-month-view>
    <app-admin-page *ngIf="pageIndex === 1"></app-admin-page>
  </div>
</div>

